
<div class="scale-150 flex items-center justify-center min-h-screen overflow-hidden  bg-cover ">
  <form>
    <section class="w-80" hlmCard>
      <div hlmCardHeader><h3 hlmCardTitle>Register</h3>
        <p hlmCardDescription>Sign up to create your account.</p>
      </div>
      <div hlmCardContent>
        <label class="block mb-4" hlmLabel>
          Name
          <input class="mt-2 w-full p-2 border rounded-md" placeholder="Enter your name" hlmInput/>
        </label>
        <label class="mb-4 block" hlmLabel>
          Username
          <input class="mt-2 w-full p-2 border rounded-md" placeholder="Choose a username" hlmInput/>
        </label>
        <label class="mb-4 block" hlmLabel>
          Email
          <input type="email" class="mt-2 w-full p-2 border rounded-md" placeholder="Enter your email" hlmInput/>
        </label>
        <label class="mb-4 block" hlmLabel>
          Password
          <input type="password" class="mt-2 w-full p-2 border rounded-md" placeholder="Create a password" hlmInput/>
        </label>
        <label class="mb-4 block" hlmLabel>
          Confirm password
          <input type="password" class="mt-2 w-full p-2 border rounded-md" placeholder="Confirm your password" hlmInput/>
        </label>
      </div>
      <div hlmCardFooter class="flex justify-between">
        <a routerLink="/login" hlmBtn variant="ghost">Cancel</a>
        <button hlmBtn>Create Account</button>
      </div>
    </section>
  </form>
</div>
