<div class="flex flex-col items-center scale-125 mt-12 px-4">
  <h1 class="text-primary text-center text-4xl mb-4">Categories</h1>
  <app-add-dialog/>
</div>


<div class="flex flex-wrap justify-center gap-4 px-4 py-2 items-center mt-14">
  <a href="" class="scale-125">
    <section class="w-80 m-2 flex flex-col items-center" hlmCard>
      <div hlmCardContent class="mt-5 flex flex-col items-center justify-center">
        <img
          src="https://www.otogastro.pl/media/catalog/product/cache/acdfff6ecaf5fe1c03cd477bcc60a390/8/0/807000-pralka-eco-bubble-samsung-18kg-front-lewa-f39-ft.jpg"
          alt="pralka" class="w-40 h-40 rounded-3xl"/>
      </div>
      @if (value > 0) {
        <div class="relative w-60 bg-secondary rounded-full h-2.5 mb-4 hover-parent">
          <div class="bg-danger h-2.5 rounded-full mb-2" [style.width]="value + '%'"></div>
          <span class="absolute left-0 text-xs text-primary hover-child opacity-0">123123</span>
          <span class="absolute right-0 text-xs text-primary hover-child opacity-0">2000000000000</span>
          <div class="text-center text-xs text-primary">{{ value }}%</div>
        </div>
      } @else {
        <div class="h-2.5 mb-4"></div>
      }
      <div class="my-2 text-center">
        <span class="text-xl text-primary">Elektronika</span>
      </div>
      <div hlmCardFooter class="flex justify-center">
        <button hlmBtn size="icon" variant="outline">
          <hlm-icon size='sm' name="lucideChevronRight"/>
        </button>
      </div>
    </section>
  </a>
</div>
