<hlm-dialog>
  <button id="edit-profile" class="bg-success" brnDialogTrigger hlmBtn>Add Category</button>
  <hlm-dialog-content class="sm:max-w-[425px] scale-150" *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle class="text-primary">Add category</h3>
      <p hlmDialogDescription>Add a space to categorize your expenses.</p>
    </hlm-dialog-header>
    <div class="py-4 grid gap-4">
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="name" class="text-right text-primary">Name</label>
        <input hlmInput id="name" class="col-span-3 bg-background text-primary" />
      </div>
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="username" class="text-right text-primary">Image URL (Optional)</label>
        <input hlmInput id="username" class="col-span-3 bg-background text-primary" />
      </div>
    </div>
    <hlm-dialog-footer>
      <button hlmBtn type="submit">Create</button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>
